body{
    background-color: red;
    color: white;
    font-family: "Comic Sans MS";
}
span.cool{color:grey;
}
ol{ color: Black;
font-family:Zapf-Chancery, cursive;
    
}

ul{
    color: white;
}

img{
    height: 400px;
    border: 3px solid;
    padding: 1px;
}